@font-face {
    font-family:font1;
    src: url(/font/Roboto-Bold.ttf);
}
.navbar{
    box-shadow: 0px -2px 14px;
    background: rgb(227 233 233);
}
.navbar-brand{
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.nav-link:active{
     color: rgb(245, 190, 39);
}


.LOGO{
    width:  70px;
    height: 60px;
    object-fit: cover;
}
.bab img{
    height: 130vh;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 1px 1px 8px;
    filter: brightness(40%);
    animation: yvan 3s infinite alternate;
}
.row h1{
    font-weight: bolder;
    font-family: 'Roboto' , 'Rubik Glitch','Rubik Microbe','cursive' , serif;
    color: rgb(209, 140, 12);
}
.card{
  border-radius: 40px;
}
.card:hover {
    box-shadow: 1px 1px 11px;
    transition: 0.5s;
    
}
.card img{
    animation: yvan 5s infinite alternate;
    border-radius: 40px;
}
@keyframes yvan {
    0% {
        filter: brightness(40%);
        transform: translate(10px,-10px);
    }
    50% {
        filter: brightness(70%);
    }
    100%{
        filter: brightness(40%);
    }
}
#carouselExampleCaptions{
    height: 50vh;
}
.carousel-inner img{
    height:50vh;
    object-fit: cover;
    animation: yvan 3s infinite alternate;
    border-radius: 25px;
}
.card-all .card{
    padding: 0;
    margin: 10px;
}
footer{
    color: rgb(255, 255, 255);
    margin-top: 10px;
    padding-bottom: 10px;
}
footer .p1{
    display: flex;
    align-items: center;
}
footer .p1 img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    
}
footer .p1 h2{
    font-size: 17px;
    font-family: font1;
    color: inherit;
}
footer .p2 h1{
      font-size: 25px;
      font-weight: 300;
}
footer .p2 img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    background: rgb(235, 235, 229);
    border-radius: 25px;
}
.p2 .p22{
    display: flex;
    justify-content: space-between;
    width: 70%;
}